@import url("https://fonts.googleapis.com/css2?family=Rancho&family=Signika+Negative:wght@300..700&display=swap");

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #171923;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Rancho", cursive;
}

.card {
  padding: 20px;
  background-color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  font-size: 38px;
  color: #ffbf00;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.dark .title {
  color: #f7f9fc;
}

.logo {
  margin-right: 10px;
}

.score {
  font-size: 36px;
  font-weight: bold;
  color: #ffbf00;
  text-align: right;
}

.dark .score {
  color: #ffbf00;
}

.timer {
  font-size: 36px;
  font-weight: bold;
  color: #ffbf00;
  text-align: right;
}

.dark .timer {
  color: #ffbf00;
}

.intro {
  margin-bottom: 20px;
}

.welcome {
  font-size: 30px;
  color: #ffbf00;
  margin-bottom: 10px;
}

.rules {
  font-size: 20px;
  color: #f7f9fc;
}

.gameSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 28px;
  color: #ffbf00;
  margin-bottom: 20px;
}

.dark .question {
  color: #ddd;
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flag {
  width: 100px;
  height: 70px;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.flag:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.correctFlag {
  border: 2px solid #00ff00;
}

.fact {
  margin-top: 20px;
  font-size: 18px;
  color: #ddd;
}

.startButton,
.durationButton {
  padding: 12px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton {
  background-color: #ffbf00;
  color: #000;
}

.startButton:hover {
  background-color: #e6ac00;
}

.durationButton {
  background-color: #282c34;
  color: #ffbf00;
}

.selectedButton {
  background-color: #e6ac00;
  color: #000;
}

.durationButton:hover {
  background-color: #393e46;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .score,
  .timer {
    font-size: 20px;
  }
  .question {
    font-size: 18px;
  }
  .flag {
    width: 80px;
    height: 56px;
  }
  .intro h2,
  .rules {
    font-size: 16px;
  }
  .gameSettings {
    flex-direction: column;
    align-items: center;
  }
  .startButton,
  .durationButton {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .score,
  .timer {
    font-size: 18px;
  }
  .question {
    font-size: 16px;
  }
  .flag {
    width: 60px;
    height: 42px;
    margin: 5px;
  }
  .intro h2,
  .rules {
    font-size: 14px;
  }
  .gameSettings {
    flex-direction: column;
    align-items: center;
  }
  .startButton,
  .durationButton {
    padding: 8px 15px;
    font-size: 14px;
  }
}